.cart__empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart__empty > *:last-child {
  margin-top: 20px;
}

.cart__empty svg {
  width: 200px;
  height: 200px;
}

.cart {
  height: 100%;
  padding: 15px;
}

.cart > *:first-child {
  margin-bottom: 7px;
}

.cart > *:last-child {
  margin-top: 15px;
}

.cart_details {
  display: flex;
}

.cart__svg > path {
  fill: var(--svg-path);
}

@media (max-width: 900px) {
  .cart_details {
    flex-direction: column;
  }

  .cart_details > *:last-child {
    margin-top: 35px;
  }

  .cart__empty svg {
    width: 100px;
    height: 100px;
  }
}
