.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__main {
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home__text > h1 {
  font-size: 80px;
}

.home__text > h2 {
  font-size: 25px;
}

.home__button {
  margin-top: 40px;
}

.home__text > h1 span {
  animation: move-text 0.75s forwards;
}

.home__text > h1 span {
  position: relative;
  opacity: 0;
  animation: move-text 0.75s forwards;
}

@media (max-width: 700px) {
  .home__text > h1 {
    font-size: 60px;
  }
  .home__text > h2 {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .home__text > h1 {
    font-size: 40px;
  }
  .home__text > h2 {
    font-size: 15px;
  }
}

@keyframes move-text {
  0% {
    bottom: -0.2em;
    opacity: 1;
  }
  50% {
    bottom: 0.2em;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
